:root {
  --title-color: #2e2f42;
  --main-text-color: #434455;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0%;
  padding-left: 0;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/**------header-------**/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  padding: 0 15px;
  display: flex;
  width: 1158px;
}

.header-navigation {
  display: flex;
  align-items: center;
  list-style: none;
  flex-grow: 1;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: var(--title-color);
  text-transform: uppercase;
  margin-right: 76px;
}

.header-menu-list {
  display: flex;
  padding: 24px 0;
  letter-spacing: 0.02em;
  list-style: none;
  gap: 40px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
}

.header-menu-link :hover {
  color: #404bbf;
}

.header-menu-link :focus {
  color: #404bbf;
}

.header-contakts {
  font-style: normal;
  margin-left: 332px;
}

.header-contakts-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contakts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contakts-item :hover {
  color: #404bbf;
}

.header-contakts-item :focus {
  color: #404bbf;
}

/**------hero-------**/

.hero {
  padding-bottom: 120px;
  padding: 120px 0;
}

.container {
}

.hero-container {
  background: #2e2f42;
  width: 1158px;
  max-width: 1470px;
  padding-top: 180px;
  padding-bottom: 180px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
}

.hero-btn:hover {
  background: #404bbf;
}

.hero-btn:focus {
  background: #404bbf;
}

/**------section components-------**/

.components {
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.components-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.components-item-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.components-list-item {
  width: 264px;
  width: calc((100%-72px) / 4);
}

.components-list {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  gap: 24px;
}
/**------section about-------**/
.about {
  padding-bottom: 120px;
}

.container {
}
.about-title {
  max-width: 323px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.about-list {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  gap: 24px;
}

.about-list-images {
  width: calc((100% - 48px) / 3);
}
/**------section team-------**/

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.container-team {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  background-color: #f4f4fd;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  gap: 24px;
}

.team-list-images {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.team-images-foto {
  padding-bottom: 32px;
}

.team-list-name {
  padding-bottom: 8px;
  text-align: center;
}

.team-list-info {
  padding: 32px 16px;
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
  text-align: center;
}
.team-list-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
}

/**------footer-------**/

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.container {
}

.container-footer {
  display: flex;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #f4f4fd;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 16px;
  max-width: 264px;
  margin-top: 16px;
}

/**------section portfolio-------**/

.portfolio {
  font: inherit;
  padding-top: 96px;
  padding-bottom: 120px;
}

.container {
}

.container-portfolio {
  padding-top: 69px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-list-btn {
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.portfolio-btn:hover {
  background: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
}

.portfolio-btn:focus {
  background: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
}

.choice-list-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.choice-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.choice-list-image {
  text-decoration: none;
}

.choice-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  list-style: none;
  text-decoration: none;
  margin-bottom: 8px;
}

.choice-list-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
